<div class="container">
    <h2 style="text-align: center;">Tanárok</h2>
    <div class="row">
        <div class="col-md-6">
            <div class="card mb-3">
                <div class="card-header">
                    <h5 class="card-title">Tanárok Listája</h5>
                </div>
                <div class="card-body">
                    <ul class="list-group">
                        <li *ngFor="let teacher of teachers" class="list-group-item" (click)="onSelect(teacher)">
                            {{ teacher.name }}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card mb-3">
                <div class="card-header">
                    <h5 class="card-title">Kiválasztott Tanár</h5>
                </div>
                <div class="card-body">
                    <div *ngIf="selectedTeacher">
                        <h6 class="card-subtitle mb-2">{{ selectedTeacher.name }}</h6>
                        <p class="card-text">Azonosító: {{ selectedTeacher.id }}</p>
                        <p class="card-text">Osztály: {{ selectedTeacher.department }}</p>
                        <h6 class="card-subtitle mb-2">Témák:</h6>
                        <ul class="list-group">
                            <li *ngFor="let subject of selectedTeacher.subjects" class="list-group-item">
                                {{ subject.name }}
                            </li>
                        </ul>
                        <button class="btn btn-danger mt-3" (click)="deleteTeacher(selectedTeacher.id)">Tanár Törlése</button>
                    </div>
                    <div *ngIf="!selectedTeacher">
                        <p>Válasszon egy tanárt a listából a részletek megtekintéséhez.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="card mb-3">
                <div class="card-header">
                    <h5 class="card-title">Tanár létrehozása</h5>
                </div>
                <div class="card-body">
                    <form (submit)="createTeacher()">
                        <div class="form-group">
                            <label for="name">Név</label>
                            <input type="text" class="form-control" id="name" [(ngModel)]="newTeacher.name" name="name" required>
                        </div>
                        <div class="form-group">
                            <label for="department">Osztály</label>
                            <input type="text" class="form-control" id="department" [(ngModel)]="newTeacher.department" name="department" required>
                        </div>
                        <button type="submit" class="btn btn-primary">Létrehozás</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card mb-3">
                <div class="card-header">
                    <h5 class="card-title">Tanár frissítése</h5>
                </div>
                <div class="card-body">
                    <div *ngIf="selectedTeacher">
                        <form (submit)="updateTeacher(selectedTeacher.id)">
                            <div class="form-group">
                                <label for="name">Név</label>
                                <input type="text" class="form-control" id="name" [(ngModel)]="selectedTeacher.name" name="name" required>
                            </div>
                            <div class="form-group">
                                <label for="department">Osztály</label>
                                <input type="text" class="form-control" id="department" [(ngModel)]="selectedTeacher.department" name="department" required>
                            </div>
                            <button type="submit" class="btn btn-primary">Frissítés</button>
                        </form>
                    </div>
                    <div *ngIf="!selectedTeacher">
                        <p>Nincs kiválasztott tanár.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card mb-3">
            <div class="card-header">
                <h5 class="card-title">Téma hozzáadása a tanárhoz</h5>
            </div>
            <div class="card-body">
                <form *ngIf="selectedTeacher" (submit)="addSubjectToTeacher(getTeacherId(selectedTeacher), +subjectId.value)">
                    <div class="form-group">
                        <label for="subjectId">Téma</label>
                        <select class="form-control" id="subjectId" #subjectId required>
                            <option *ngFor="let subject of subjects" [value]="subject.id">{{ subject.name }}</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary">Téma Hozzáadása</button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card mb-3">
            <div class="card-header">
                <h5 class="card-title">Témát eltávolítása a tanárról</h5>
            </div>
            <div class="card-body">
                <form *ngIf="selectedTeacher" (submit)="removeSubjectFromTeacher(getTeacherId(selectedTeacher), +subjectId.value)">
                    <div class="form-group">
                        <label for="removeSubjectId">Téma Azonosító</label>
                        <select class="form-control" id="removeSubjectId" #subjectId required>
                            <option *ngFor="let subject of selectedTeacher.subjects" [value]="subject.id">{{ subject.name }}</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-danger">Téma Eltávolítása</button>
                </form>
            </div>
        </div>
    </div>
</div>