<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="#">Oktatási Nyilvántartó Rendszer</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" routerLink="/students" routerLinkActive="active">Diákok</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/teachers" routerLinkActive="active">Tanárok</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/subjects" routerLinkActive="active">Tantárgyak</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/courses" routerLinkActive="active">Kurzusok</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/grades" routerLinkActive="active">Osztályzatok</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  
  <div class="container mt-4">
    <router-outlet></router-outlet>
  </div>

  